@import url("main.css");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* .titulos {
    text-align: center;
    margin-top: 20px;
    font-family: "BrightRetro", sans-serif;
    font-size: 60px;
}

.titulos-secundarios {
    font-family: "Lato Black";
    font-size: 18px;
    margin: 0;
} */

.sidenav {
    background: var(--clr-verde);
    transition: all .5s ease;
    position: fixed;
    z-index: 1;
    top: 0;
    width: 5rem;
    height: 100vh;
    box-shadow: 0.063rem 0 1.25rem 0 rgba(0, 0, 0, .3);
    font-family: sans-serif;
}

.sidenav .logo-container {
    display: flex;
    align-items: center;
    padding: 0.938rem 0.938rem 0 0.938rem;
    width: 100%;
}

.sidenav .logo-container .logo {
    background: var(--clr-cafe);
    text-align: center;
    width: 3rem;
    min-height: 3rem;
    border-radius: 0.313rem;
    padding: 0.313rem;
    font-size: 24px;
    font-weight: 900;
    cursor: pointer;
    border: none;
    color: var(--clr-whiteT)
}

.sidenav .logo-container .logo-text {
    margin-left: 1.2rem;
    font-size: 22px;
    font-weight: 700;
    color: var(--clr-whiteT);
}

.sidenav .logo-container .btnClose {
    margin-left: auto;
    cursor: pointer;
    width: 2rem;
    height: 2rem;
    border-radius: 50%;
    background-color: transparent;
    border: none;
}

.sidenav .logo-container .icono {
    color: var(--clr-whiteT);
    font-size: 24px;
}

.sidenav-collapsed {
    width: 16.5625rem;
}

.sidenav-nav {
    list-style: none;
    padding: 0.938rem;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: calc(100% - 3.65rem);
    cursor: pointer;
}

.sidenav-nav .sidenav-nav-item {
    width: 100%;
    margin-bottom: 0.625rem;
}

.sidenav-nav .sidenav-nav-item:last-child {
    margin-top: auto;
}

.sidenav-nav .sidenav-nav-item .sidenav-nav-link {
    display: flex;
    align-items: center;
    height: 3rem;
    color: var(--clr-whiteT);
    text-decoration: none;
    border-radius: 0.625rem;
    transition: all .3s ease;
    font-size: 17px;
    font-weight: 400;
    font-family: sans-serif;
}

.sidenav-nav .sidenav-nav-item .sidenav-nav-link .sidenav-link-icon {
    font-size: 25px;
    width: 2rem;
    min-width: 2rem;
    margin: 0 0.5rem;
    text-align: center;
}

.sidenav-nav .sidenav-nav-item .sidenav-nav-link .sidenav-link-text {
    margin-left: 1.5rem;
}

.sidenav-nav-item:hover .sidenav-nav-link {
    background-color: var(--clr-cafe);
    color: var(--clr-whiteT) !important;
}

.active {
    background-color: var(--clr-cafe);
}

.active .sidenav-link-icon,
.active .sidenav-link-text {
    color: var(--clr-cafe);
}

.d-none {
    display: none
}

#moduleBox{
    margin-left: 5rem;
    height: 100vh;    
}

.nomUser{
    position: absolute;
    top: 10px;
    right: 30px;    
    padding: 15px;
    width: auto;
    height: 15px;
    background-color: var(--clr-verde);
    border-radius: .8rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.nomUser #txtNomUser{
    font-family: "Open Sans Bold";
    font-size: 17px;
    color: white;

}