@font-face {
    font-family: 'BrightRetro';
    src: url('../fonts/bright_retro/brightRetro.otf') format('opentype');
}

@font-face {
    font-family: 'Lato Black';
    src: url('../fonts/lato/Lato-Black.ttf') format('truetype');
}

@font-face {
    font-family: 'Lato Bold';
    src: url('../fonts/lato/Lato-Bold.ttf') format('truetype');
}

@font-face {
    font-family: 'Lato Regular';
    src: url('../fonts/lato/Lato-Regular.ttf') format('truetype');
}

@font-face {
    font-family: 'Lato Light';
    src: url('../fonts/lato/Lato-Light.ttf') format('truetype');
}


@font-face {
    font-family: 'Open Sans ExtraBold';
    src: url('../fonts/open_sans/static/OpenSans-ExtraBold.ttf') format('truetype');
}

@font-face {
    font-family: 'Open Sans Bold';
    src: url('../fonts/open_sans/static/OpenSans-Bold.ttf') format('truetype');
}

@font-face {
    font-family: 'Open Sans Regular';
    src: url('../fonts/open_sans/static/OpenSans-Regular.ttf') format('truetype');
}

@font-face {
    font-family: 'Open Sans Light';
    src: url('../fonts/open_sans/static/OpenSans-Light.ttf') format('truetype');
}

/* Agrega más @font-face según sea necesario para cada variante de Lato */

:root {
    --clr-rojo: #FF6464;
    --clr-rojo-hover: #FF9D9D;
    --clr-rojo-active: #FF3131;
    --clr-rojo-disabled: #FF0F0F;

    --clr-amarillo: #FDC512;
    --clr-amarillo-hover: #FFDE59;
    --clr-amarillo-active: #ECAB06;
    --clr-amarillo-disabled: #86480D;

    --clr-verde: #7ED957;
    --clr-verde-hover: #95E472;
    --clr-verde-active: #50BB27;
    --clr-verde-disabled: #295A1A;

    --clr-cafe: #46220F;
    --clr-naranja: #D96C06;
    --clr-verdeMenta: #00A878;
    --clr-azul: #003469;

    --clr-negro: #373737;
    --clr-gris1: #646464;
    --clr-gris2: #979797;
    --clr-gris3: #CACACA;
    --clr-blanco: #F2F2F2;
    --clr-blanco2: #F6F6F6;
}

body {
    background-color: var(--clr-blanco);
}

.titulos {
    text-align: center;
    margin-top: 20px;
    font-family: "BrightRetro", sans-serif;
    font-size: 60px;
}

.titulos-secundarios {
    font-family: "Lato Black";
    font-size: 18px;
    margin: 0;
}

li, a{
    font-family: "Open Sans Regular";
    font-size: 16px;
}

/*** HOME ***/
#logo {
    position: fixed;
    margin: 15px;
    width: 100px;
}

.btn.cerrarSesion {
    background-color: var(--clr-negro);
    color: var(--clr-blanco);
    font-size: 30px;
    position: fixed;
    margin: 20px;
    bottom: 50px;
    left: 20px;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    transition-duration: .5s;
    z-index: 100;
    cursor: pointer;
}

.btn.cerrarSesion:hover { 
    transform: scale(1.1);
}

.nav-item:last-child{
    display: none;
    cursor: pointer;
}

#navbar-icon {
    display: none;
}

.navbar {
    display: flex;
    justify-content: center;
    align-items: end;
    z-index: 100;
}

ul.navbar {
    list-style-type: none;
    margin: 0;
    padding: 0;
    background-color: var(--clr-blanco);
    overflow: hidden;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 20;
}

ul.navbar li {
    width: 15%;
    font-weight: 600;
}

li.nav-item a {
    display: block;
    color: var(--clr-black);
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li.nav-item a.active {
    border-bottom: 2px solid var(--clr-amarillo);
}

a.nav-link.active {
    border-bottom: 2px solid var(--clr-amarillo);
}

li.nav-item a:hover {
    border-bottom: 4px solid var(--clr-amarillo);
}

.contenedor {
    display: flex;
    text-align: center;
    justify-content: center;
    margin: 25px auto;
    padding: 20px;
    display: block;
}

.contenedor-cards {
    display: grid;
    margin: 20px auto;
    padding: 20px;
    height: 100px;
    width: 60%;
    height: auto;
    grid-template-columns: repeat(2, 1fr);
    justify-content: center;
    align-items: center;
    row-gap: 40px;
    column-gap: 100px;
}

.card {
    z-index: 10;
    background-color: var(--clr-blanco);
    border: 15px solid var(--clr-negro);
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 120px;
    cursor: pointer;
    transition-duration: .5s;
}

.card label {
    font-family: 'BrightRetro', sans-serif;
    font-size: 36px;
}

.card:last-child {
    width: 50%;
    right: 120px;
    grid-column: span 2;
    margin: 0 auto;
}

.card:hover {
    transform: scale(1.05); 
}

.card:active {
    background-color: var(--clr-amarillo-active);
}

@media screen and (max-width: 1000px) { 
    .btn.cerrarSesion {
        display: none;
    }

    .nav-item:last-child {
        display: block;
    }

    .contenedor-cards{
        padding: 0;
        margin: 0 auto;
    }

    .card:last-child {
        width: 90%;
        right: 12px;
        grid-column: span 1;
    }

    .contenedor-cards {
        grid-template-columns: 1fr;
    } 

    .card {
        width: 90%;
        margin: 0 auto;
    }

    #navbar-icon {
        display: flex;
        position: fixed;
        z-index: 20;
        background-color: var(--clr-amarillo);
        border-radius: 10px;
        margin: 10px;
        padding: 10px;
        font-size: 32px;
        color: var(--clr-blanco);
        cursor: pointer;
        transition: transform 0.3s ease;
    }

    #navbar-icon:hover {
        transform: scale(1.2);
    }

    .navbar {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: start;
        gap: 30px;

        position: fixed;
        top: 0;
        left: -60%;
        transition: .3s ease-in-out all;
    }

    .navbar.active {
        display: flex;
        left: 0;
    }

    ul.navbar {
        background-color: var(--clr-blanco2);
        border: 3px solid black;
        overflow: hidden;
        position: fixed;
        width: 50%;
        height: 100vh;
        z-index: 20;
    }

    ul.navbar li {
        width: 100%;
    }

    li.nav-item a {
        color: var(--clr-white);
    }

}

@media screen and (max-width: 500px) {
    .card label {
        font-family: 'BrightRetro', sans-serif;
        font-size: 28px;
    }
}

/*** LOGIN ***/
.contenedor-login {
    margin: 0 auto;
    padding: 20px;
    border-radius: 50px;
    border: 5px solid var(--clr-amarillo);
    background-color: transparent;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 50px auto;
    max-width: 500px;
    min-height: 60vh;
    height: auto;
    width: 40%;
    gap: 20px;
    box-shadow: 10px 18px 8px rgba(0, 0, 0, 0.3);
}

.d-none{
    display:none
}

#lblError{
    color: white;
    font-family: arial;
    background-color: red;
    padding: 1% 10% 1% 10%;
    border-radius: 20px;
}

.contenedor-login img {
    max-width: 300px;
    width: 100%;
    border-radius: 50%;
    margin-bottom: 20px;
}

.contenedor-login .input-container {
    width: 70%;
    position: relative;
    margin-bottom: 15px;
}

.contenedor-login .icon {
    position: absolute;
    right: 20px;
    top: 50%;
    transform: translateY(-50%);
    pointer-events: auto;
    cursor: pointer;
}

.contenedor-login .input-field {
    font-family: "Open Sans Regular", sans-serif;
    font-size: 18px;
    background-color: transparent;
    width: 90%;
    height: 30px;
    padding: 10px;
    border: 3px solid #373737;
    border-radius: 20px;
    transition: border 0.3s;
}

.contenedor-login .input-field:focus {
    outline: none;
    border-color: var(--clr-amarillo);
}

.btn.login {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    max-width: 300px;
    width: 100%;
    height: 80px;
    background-color: var(--clr-amarillo);
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    font-weight: 700;
    border: none;
    cursor: pointer;
    text-transform: uppercase;
    transition: .3s ease all;
    border-radius: 50px;
    position: relative;
    overflow: hidden;
}

.btn.login span {
    font-family: "Open Sans Regular", sans-serif;
    position: relative;
    z-index: 2;
    transition: .3s ease all;
}

.btn.login::after {
    content: "";
    width: 100%;
    height: 200%;
    position: absolute;
    top: -200%;
    left: 0;
    background-color: var(--clr-amarillo-hover);
    z-index: 1;
    border-bottom-left-radius: 100%;
    border-bottom-right-radius: 100%;
    transition: .3s ease-in all;
}

.btn.login:hover::after {
    top: 0;
}

.btn.login:active::after {
    background-color: var(--clr-amarillo-active);
}

.btn.login:disabled {
    background-color: var(--clr-amarillo-disabled);
}

@media screen and (max-width: 800px) {
    .contenedor-login {
        width: 80%;
    }
}

@media screen and (max-width: 500px) {
    .contenedor-login .input-container {
        width: 100%;
    }

    .contenedor-login {
        width: 80%;
        height: auto;
        border: none;
        box-shadow: none;
    }

    .contenedor-login .input-field {
        font-size: 16px;
    }

    .btn.login {
        font-size: 16px;

    }
}

