@import url("../../css/main.css");

/* MENU */

.contenedor-cards {  
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
  padding: 30px;
  height: 100vh;

  justify-content: center;
  align-items: center; 
}

.card {
  background-color: var(--clr-verde2);
  color: var(--clr-whiteT);  
  border-radius: .8rem;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 120px;   
  box-shadow: 0 0 15px 2px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  transition: .3s ease all;
  overflow: hidden;
  position: relative;
}

.card:last-child {
  width: 50%;
  grid-column: span 2;
  margin: 0 auto;
}

.card label {
  font-family: 'Open Sans ExtraBold', sans-serif;
  font-size: 35px;
  z-index: 2;
}

.card::after {
  content: "";
  width: 200%;
  height: 200%;
  position: absolute;
  top: -200%;
  left: 0;
  background-color: var(--clr-verde);
  z-index: 1;
  border-bottom-left-radius: 100%;
  border-bottom-right-radius: 100%;
  transition: .3s ease-in all;
}

.card:hover::after {
  top: 0;
}

.card:active {
  background-color: var(--clr-verde);
}

@media screen and (max-width: 1000px) {

  .card label{
    font-size: 25px;
  }

  .card:last-child {    
    width: 100%;
  }  

}

@media only screen and (max-width: 599px) {
  .contenedor-cards{
    margin-top: 25px;
    grid-template-columns: 1fr;
  }

  .card:last-child {  
    grid-column: span 1;  
  }

}